body {
  /* background: #222025; */
  background: #FFF;
}

.wrapper {
  padding-top: 0px;
}

.subtitle {
  font-size: 24px;
  /* color: #b7b7b7; */
  color: #333;
  font-weight: 500;
}

.btn-principal {
  background: #f15f11 !important;
  color: white;
}